@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

.bullet-right {
  position: relative;
  height: 1px;
  width: 100%;
  container-type: inline-size;

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 30px;
    top: 0;
    left: -30px;
    background: linear-gradient(to right, transparent 0, black 100%);
    animation: shot-right 10s infinite;
    animation-timing-function: linear;
  }

  &:nth-child(1) {
    &::after {
      animation-delay: 1s;
    }
  }

  &:nth-child(2) {
    &::after {
      animation-delay: 3s;
    }
  }

  &:nth-child(3) {
    &::after {
      animation-delay: 8s;
    }
  }

  &:nth-child(4) {
    &::after {
      animation-delay: 5s;
    }
  }

  &:nth-child(5) {
    &::after {
      animation-delay: 2s;
    }
  }

  &:nth-child(6) {
    &::after {
      animation-delay: 7s;
    }
  }

  &:nth-child(7) {
    &::after {
      animation-delay: 4s;
    }
  }

  &:nth-child(8) {
    &::after {
      animation-delay: 9s;
    }
  }
}

.bullet-down {
  position: relative;
  height: 100%;
  width: 1px;
  container-type: inline-size;

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 30px;
    width: 1px;
    top: -30px;
    background: linear-gradient(to bottom, transparent 0, black 100%);
    animation: shot-down 10s infinite;
    animation-timing-function: linear;
  }

  &:nth-child(1) {
    &::after {
      animation-delay: 1s;
    }
  }

  &:nth-child(2) {
    &::after {
      animation-delay: 3s;
    }
  }

  &:nth-child(3) {
    &::after {
      animation-delay: 8s;
    }
  }

  &:nth-child(4) {
    &::after {
      animation-delay: 5s;
    }
  }

  &:nth-child(5) {
    &::after {
      animation-delay: 2s;
    }
  }

  &:nth-child(6) {
    &::after {
      animation-delay: 7s;
    }
  }

  &:nth-child(7) {
    &::after {
      animation-delay: 4s;
    }
  }

  &:nth-child(8) {
    &::after {
      animation-delay: 9s;
    }
  }
}

.dark .bullet-right::after {
  background: linear-gradient(to right, transparent 0%, white 100%);
}

.dark .bullet-down::after {
  background: linear-gradient(to bottom, transparent 0%, white 100%);
}

@keyframes shot-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100cqw);
  }
}

@keyframes shot-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100cqh);
  }
}
